<full-calendar
  #calendar
  id="fcalendar"
  defaultView="dayGridMonth"
  [plugins]="calendarPlugins"
  [locales]="locales"
  locale="vi"
  [customButtons]="customButtons"
  (dateClick)="handleDateClick($event)"
  (eventClick)="handleEventClick($event)"
  [header]="headers"
  [buttonText]="buttonText"
  [events]="calendarEvents"
  *ngIf="permissions"
></full-calendar>

<div
  class="modal fade"
  id="calendarModalId"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendarModalLabel">
          {{ resource.modalTitle }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appointmentForm">
          <div class="form-row">
            <div class="form-group col-4">
              <datepicker
                [parentForm]="appointmentForm"
                [config]="formConfig.date"
                (onDataChange)="onDataChange($event)"
              >
              </datepicker>
            </div>
            <div class="form-group col-4">
              <datepicker
                [parentForm]="appointmentForm"
                [config]="formConfig.from"
                [resource]="resource.validationErrors"
                (onDataChange)="onDataChange($event)"
              >
              </datepicker>
            </div>
            <div class="form-group col-4">
              <datepicker
                [parentForm]="appointmentForm"
                [config]="formConfig.to"
                [resource]="resource.validationErrors"
                (onDataChange)="onDataChange($event)"
              >
              </datepicker>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4">
              <div class="form-row">
                <search-bar
                  [value]="patientName"
                  [parentForm]="appointmentForm"
                  [config]="formConfig.searchPatient"
                  (onSearchApply)="onSearchApply($event)"
                  (onRemove)="onSearchRemove()"
                ></search-bar>
              </div>
              <div class="form-row">
                <search-bar
                  [value]="doctorName"
                  [filterRange]="filterRange"
                  [parentForm]="appointmentForm"
                  [config]="formConfig.searchDoctor"
                  [isDisabled]="isTimeConflict()"
                  (onSearchApply)="onSearchDoctorApply($event)"
                  (onRemove)="onSearchDoctorRemove()"
                ></search-bar>
              </div>
            </div>
            <div class="form-group col-8">
              <text-area
                [parentForm]="appointmentForm"
                [config]="formConfig.remark"
                [resource]="resource.validationErrors"
              ></text-area>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <button
            *ngIf="
              modalState === 'UPDATE' &&
              updateAppointmentPermission &&
              hasOwnerPermission
            "
            type="button"
            class="btn btn-link"
            (click)="onDelete()"
          >
            {{ resource.removeButton }}
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ resource.modalCancel }}
          </button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">
            {{ resource.modalApply }}
            <i *ngIf="isShowLoadingButton" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="confirmModalId"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalId">
          {{ resource.modalConfirmTitle }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ resource.modalConfirmContent }}
      </div>
      <div class="modal-footer justify-content-center">
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ resource.modalNo }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onRemoveConfirm()"
          >
            {{ resource.modalYes }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
