<div class="d-flex flex-column" [formGroup]="parentForm">
  <div
    [formArrayName]="config.controlName"
    *ngFor="let control of array.controls; let i = index"
  >
    <div [formGroupName]="i" class="form-row">
      <div class="form-group col-3">
        <medicine-search
          [id]="i"
          [parentForm]="getFormGroup(i)"
          [config]="formConfig.medicineName"
          [value]="value"
          (onSearchApply)="onSearchApply($event)"
          (onRemove)="onSearchRemove($event)"
        >
        </medicine-search>
      </div>

      <div class="form-group col-2">
        <text-input [parentForm]="getFormGroup(i)" [config]="formConfig.amount">
        </text-input>
      </div>
      <div class="form-group col-6">
        <text-input [parentForm]="getFormGroup(i)" [config]="formConfig.remark">
        </text-input>
      </div>
      <div class="form-group col-1">
        <button
          type="button"
          class="btn btn-primary px-3 py-1"
          (click)="onDeleteRow(i)"
        >
          <i class="fas fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="align-self-center">
    <button type="button" class="btn btn-primary px-3" (click)="onAddClick()">
      <i class="fas fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>
