<div [formGroup]="parentForm" class="md-form">
  <mdb-error
    *ngIf="property?.errors?.required && (property.dirty || property.touched)"
  >
    {{ resource.required }} {{ config.title }}
  </mdb-error>
  <textarea
    [id]="config.controlName"
    class="md-textarea form-control mb-4"
    [formControlName]="config.controlName"
    [rows]="config.rows || '3'"
    mdbInput
    mdbValidate
  ></textarea>
  <label [for]="config.controlName"
    >{{ config.title }}{{ config.required ? "*" : "" }}</label
  >
</div>
