<div class="card mb-4">
  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">
    <h5 class="mb-2 mb-sm-0 pt-1">
      {{ resource?.stateTitle }}
    </h5>

    <button
      class="btn btn-primary btn-sm my-0 p"
      [ngClass]="resource?.addButton.disabled ? 'btn-light' : ''"
      type="button"
      (click)="onAddClick(resource?.addButton.disabled)"
    >
      {{ resource?.addButton.title }}
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <datatable
      *ngIf="datatableConfig"
      [config]="datatableConfig"
      [data]="datatableData"
    ></datatable>
  </div>
</div>
