<layouts-header [userData]="user"></layouts-header>
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    <div class="card mb-4">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
          <a target="_blank">Home Page</a>
          <span>/</span>
          <span>Dashboard</span>
        </h4>

        <button class="btn btn-primary btn-sm my-0 p" type="button">
          Thêm Người dùng
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</main>
