<div
  [formGroup]="parentForm"
  class="md-form input-group"
  [ngClass]="config.formClass"
>
  <mdb-error
    *ngIf="property?.errors?.email && (property.dirty || property.touched)"
  >
    {{ resource.email }}
  </mdb-error>
  <mdb-error
    *ngIf="property?.errors?.required && (property.dirty || property.touched)"
  >
    {{ resource.required }} {{ config.title }}
  </mdb-error>
  <mdb-error
    *ngIf="property?.errors?.pattern && (property.dirty || property.touched)"
  >
    {{ config.title }} {{ resource.pattern }}
  </mdb-error>
  <mdb-error
    *ngIf="property?.errors?.mustMatch && (property.dirty || property.touched)"
  >
    {{ config.title }} {{ resource.mustMatch }}
  </mdb-error>

  <input
    [id]="config.controlName"
    [type]="config.type || 'text'"
    class="form-control mb-4"
    [formControlName]="config.controlName"
    mdbInput
    mdbValidate
  />
  <div *ngIf="config.suffix" class="input-group-append">
    <span class="input-group-text md-addon">{{ config.suffix }}</span>
  </div>
  <label [for]="config.controlName"
    >{{ config.title }}{{ config.required ? "*" : "" }}</label
  >
</div>
