<form
  class="input-group md-form form-sm form-2 pl-0"
  [formGroup]="parentForm"
  [ngClass]="config.formClass"
>
  <input
    class="form-control my-0 py-1 red-border"
    type="text"
    [placeholder]="resource.placeholder"
    [formControlName]="config.controlName"
    readonly
    aria-label="Search"
    mdbInput
    mdbValidate
  />
  <div class="input-group-append" *ngIf="!searchValue">
    <span
      class="input-group-text red lighten-3"
      id="search"
      (click)="onSearchClick()"
      ><i class="fas fa-search text-grey" aria-hidden="true"></i
    ></span>
  </div>
  <div class="input-group-append" *ngIf="searchValue">
    <span
      class="input-group-text grey lighten-3"
      id="remove"
      (click)="onSearchRemove()"
      ><i class="fas fa-remove text-grey" aria-hidden="true"></i
    ></span>
  </div>
</form>

<div
  class="modal fade"
  [id]="modalId"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchMedicineModalLabel">
          {{ resource.modalTitle }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <datatable
          [config]="datatableConfig"
          [data]="datatableData"
          [searchText]="searchText"
        ></datatable>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ resource.modalCancel }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSearchComplete()"
        >
          {{ resource.modalApply }}
        </button>
      </div>
    </div>
  </div>
</div>
