<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
        <h5 class="mb-2 mb-sm-0 pt-1">
          {{ resource.stateTitle }}
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <a>{{ resource.examInfo }}</a>
        <form [formGroup]="examForm">
          <div class="form-row">
            <div class="form-group col-4">
              <text-input
                [parentForm]="examForm"
                [config]="formConfig.doctorName"
                [resource]="resource.validationErrors"
              >
              </text-input>
            </div>
            <div class="form-group col-4">
              <select-box
                [parentForm]="examForm"
                [config]="formConfig.department"
              ></select-box>
            </div>
            <div class="form-group col-4">
              <datepicker
                [parentForm]="examForm"
                [config]="formConfig.createDate"
              >
              </datepicker>
            </div>
          </div>
          <a>{{ resource.patientInfo }}</a>
          <!-- Search form -->
          <div class="form-row">
            <div class="form-group col-4">
              <search-bar
                [parentForm]="examForm"
                [config]="formConfig.search"
                (onSearchApply)="onSearchApply($event)"
                (onRemove)="onSearchRemove()"
              ></search-bar>
            </div>
          </div>
          <!-- USER INFO -->
          <div class="p-4 mb-4 border border-dark">
            <div class="form-row">
              <div class="form-group col">
                <text-input [parentForm]="examForm" [config]="formConfig.name">
                </text-input>
              </div>
              <div class="form-group col">
                <datepicker
                  [parentForm]="examForm"
                  [config]="formConfig.birthday"
                >
                </datepicker>
              </div>
              <div class="form-group col">
                <select-box
                  [parentForm]="examForm"
                  [config]="formConfig.gender"
                ></select-box>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <text-input
                  [parentForm]="examForm"
                  [config]="formConfig.idCard"
                >
                </text-input>
              </div>
              <div class="form-group col-4">
                <text-input
                  [parentForm]="examForm"
                  [config]="formConfig.medicalCard"
                >
                </text-input>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <text-input [parentForm]="examForm" [config]="formConfig.phone">
                </text-input>
              </div>
              <div class="form-group col-4">
                <text-input [parentForm]="examForm" [config]="formConfig.email">
                </text-input>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-8">
                <text-input
                  [parentForm]="examForm"
                  [config]="formConfig.address"
                >
                </text-input>
              </div>
            </div>
          </div>
          <!-- END USER INFO -->
          <a>{{ resource.generalHealthInfo }}</a>
          <div class="form-row">
            <div class="form-group col-3">
              <text-input
                [parentForm]="examForm"
                [config]="formConfig.height"
                [resource]="resource.validationErrors"
              >
              </text-input>
            </div>
            <div class="form-group col-3">
              <text-input
                [parentForm]="examForm"
                [config]="formConfig.weight"
                [resource]="resource.validationErrors"
              >
              </text-input>
            </div>
            <div class="form-group col-3">
              <text-input
                [parentForm]="examForm"
                [config]="formConfig.bloodPresure"
                [resource]="resource.validationErrors"
              >
              </text-input>
            </div>
            <div class="form-group col-3">
              <text-input
                [parentForm]="examForm"
                [config]="formConfig.bodyTemp"
                [resource]="resource.validationErrors"
              >
              </text-input>
            </div>
          </div>
          <!-- END USER HEALTH DATA -->
          <a>{{ resource.examResult }}</a>
          <div class="form-row">
            <div class="form-group col-12">
              <text-area
                [parentForm]="examForm"
                [config]="formConfig.examResult"
                [resource]="resource.validationErrors"
              >
              </text-area>
            </div>
          </div>
          <a>{{ resource.medicine }}</a>
          <div class="mb-2"></div>
          <div class="form-row">
            <div class="form-group col-12">
              <medicine-picker
                [parentForm]="examForm"
                [config]="formConfig.medicine"
                [resource]="resource.validationErrors"
              ></medicine-picker>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <image-uploader [source]="avatar?.path"></image-uploader>
    </div>
  </div>
</div>
